<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fied">
    <h2 id="invoice_id"><%= @invoice.invoice_n %></h2>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :doc_id %><br />
    <%= f.number_field :doc_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= select_tag "clients", options_from_collection_for_select(@clients, "id", "name"), :prompt => "Select something" %>
  </div>
  <table class="items">
    <tr>
      <th>name</th>
      <th>quantity</th>
      <th>unit price</th>
      <th>discount</th>
      <th>total price</th>
      <th></th>
    </tr>
    <% @items.each do |t| %>
      <%=render "shared/edit_item_row" %>
    <% end %>
    <%= render "shared/item_row" %>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
