<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fied">
    <h3 id="invoice_id" class="hidden"><%= @counter.number %></h3>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :doc_id %><br />
    <%= f.number_field :doc_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= select_tag "clients", options_from_collection_for_select(@invoice.clients, "id", "name", @invoice.client_id),  :prompt => "Select something" %>
  </div>
  <table class="items">
    <tr>
      <th>name</th>
      <th>quantity</th>
      <th>unit price</th>
      <th>total price</th>
      <th></th>
    </tr>
    <% @items.each do |t| %>
        <tr class="item">
          <td>
            <%= text_field_tag 'name', nil, :disabled => true, :placeholder => 'Insert your item name', :value => t.name,  :class=> 'changeable' %>
          </td>
          <td>
            <%= select_tag "count", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>".html_safe, :disabled => true, :class=> 'changeable' %>
          </td>
          <td>
            <%= text_field_tag 'unit_price', nil, :disabled => true, :placeholder => 'Unit price', :value => t.unit_price, :size => 6, :class => 'unit_price changeable' %>
          </td>

          <td class="total">
            <span><%= @invoice.subtotal %></span> €
          </td>
          <td>
            <a href="#" class="edit_item">edit</a>
            <a href="#" class="remove_item" id="item_<%= t.id %>">remove</a>
          </td>
        </tr>
    <% end %>
    <%= render "shared/item_row" %>
  </table>
  <div class="field">

  </div>
  <div class="field">

  </div>
  <div class="field">
    <h4 id="subtotal">subtotal <span><%= @invoice.subtotal %></span> €</h4>
    <div class="field">discount <%= f.collection_select :discount_id, @invoice.discounts, :id, :value %> %</div>
    <h3 id="total"></h3>
    <div class="field">tax amount <%= f.collection_select :tax_id, @invoice.taxes, :id, :value %> %</div>
    <h3 id="grand_total"></h3>
  </div>
  <div class="actions">
    <%= f.submit :class=> 'button'%>
  </div>
<% end %>
