<h1>Editing invoice <%= @invoice.invoice_number %> <span class="status">(<%= @invoice.status %>)</span></h1>

<%= link_to 'Issue this invoice', issue_invoice_path, :class => 'button' %>

<%= render 'form' %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>
