<h1>Editing invoice <%= @invoice.invoice_number %> <span class="status">(<%= @invoice.status %>)</span></h1>

<div class="field actions">
  <%= link_to 'ISSUE', invoice_issue_path(@invoice.id) %> | <%= link_to 'RETIRE', invoice_issue_path(@invoice.id) %>
</div>
<%= render 'form' %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>
