<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @invoice.name %>
</p>

<p>
  <b>Description:</b>
  <%= @invoice.description %>
</p>

<p>
  <b>Doc:</b>
  <%= @invoice.doc_id %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
