<p id="notice"><%= notice %></p>
<%= link_to "issue a credit note", :controller => "invoices", :action => "credit", :format => 'pdf' %>

<%= @company.name %>
<p>
  <b>N:</b>
  <%= @invoice.invoice_number %>
</p>
<p>
  <b>Name:</b>
  <%= @invoice.name %>
</p>


<p>
  <b>Description:</b>
  <%= @invoice.description.html_safe %>
</p>

<p>
  <b>Doc:</b>
  <%= @invoice.doc_id %>
</p>

<p>
  <b>Client:</b>
  <%= @invoice.client.name %>
</p>

<table>

  <% @invoice.items.each do |t| %>
    <tr>
      <td><%=t.name %></td>
      <td><%=t.quantity.to_s %></td>
      <td><%=t.unit_price.to_s %> €</td>
    </tr>
  <% end %>

</table>
<p>
  <b>subtotal: <%= @invoice.subtotal %></b>
</p>

<%= link_to "Printable Invoice (PDF)", invoice_path(@invoice, :format => 'pdf') %>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
