<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation" class="alert-box">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => :name %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :is_recap %><br />
    <%= f.check_box :is_recap %>
  </div>
  <div class="field">
    <%= f.label :is_event %><br />
    <%= f.check_box :is_event %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <h2>Service</h2>
    <%= collection_select(:work, :service_id, Service.find(:all), :id, :name) %>

  </div>
  <div class="field">
    <h2>Tags</h2>
    <%= text_field_tag 'name', '', :autocomplete => autocomplete_tag_name_works_path %>
  </div>

  <div class="field">
    <h2>Images</h2>
    <%= hidden_field_tag :media_value, @work.media_id %>
    <% @media_asset.each do |media| %>
      <%= link_to "#", :id => media.name, :class => 'media_item' do %>
        <%= image_tag(media.image.thumb, :alt => media.name, :id => media.id, :class => 'thumb', :size => '100x100') %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <h2>Clients</h2>
    <%= collection_select(:work, :client_id, Client.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <h2>Team mates</h2>
    <%= collection_select(:work, :teammate_id, Teammate.find(:all), :id, :fullname) %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
