<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation" class="alert-box">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => :name, :value => @work.client.user_projects('robbincenijn').projects.title  %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :is_recap %><br />
    <%= f.check_box :is_recap %>
  </div>
  <div class="field">
    <%= f.label :is_event %><br />
    <%= f.check_box :is_event %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :input_html => { :value => @work.content } %>
  </div>
  <script>
     var sampleTags = [
     <% @tags.each do |tag| %>
      '<%= tag.name %>',
     <% end %>
     ]
  </script>

  <div class="field" id="tags">
    <h2>Tags</h2>
    <ul>
      <% @work.tags.each do |worktag| %>
        <li><%= worktag.name %></li>
      <% end %>
    </ul>
  </div>

  <script>
    // function add_tag() {
    //   var tags = document.getElementById('tags');
    //   var input = document.createElement('input');
    //   input.setAttribute('type', 'text');
    //   input.setAttribute('name', 'tags[]');
    //   input.setAttribute('onchange', 'add_tag()');
    //   tags.appendChild(input);
    // }
    // add_tag();
  </script>
  <div class="field">
    <h2>Service</h2>
    <%= collection_select(:work, :service_id, Service.find(:all), :id, :name) %>

  </div>
  <div class="field">
    <h2>Images</h2>
    <%= render "media_assets/picker" %>
  </div>
  <div class="field">
    <h2>Clients</h2>
    <%= collection_select(:work, :client_id, Client.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <h2>Team mates</h2>
    <%= collection_select(:work, :teammate_id, Teammate.find(:all), :id, :fullname) %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
