    <tr class="items">
      <td><%= t.name %></td>
      <td><%= t.quantity %></td>
      <td><%= t.unit_price %></td>
      <td><%= t.discount %></td>
      <td><%= t.total_price %></td>
      <td><a href="#">remove</a></td>
    </tr>
