<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <h2>Image</h2>
    <%= hidden_field_tag :media_value, @work.media_id %>
    <% @media_asset.each do |media| %>
      <%= link_to "#", :id => media.name, :class => 'media_item' do %>
        <%= image_tag(media.image.thumb, :alt => media.name, :id => media.id, :class => 'thumb', :size => '100x100') %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
