<%= form_for(@job_position) do |f| %>
  <% if @job_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_position.errors.count, "error") %> prohibited this job_position from being saved:</h2>

      <ul>
      <% @job_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
